@import "tailwindcss";

.joti {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

/* Flip animation when submitting */
@keyframes flip {
  0%   { transform: rotateX(0deg); }
  50%  { transform: rotateX(-90deg); }
  100% { transform: rotateX(0deg); }
}

.animate-pop {
  animation: pop 0.1s ease-in-out;
}

.animate-flip {
  animation: flip 0.5s ease-in-out forwards;
}